<!DOCTYPE html>
<html>
    <head>
        <title>DART JLTG Hiding Location Finder</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script text="text/javascript">
            $(function () {
                $("#map-form").submit(function () {
                    document.getElementById("map-iframe").contentWindow.document.open();
                    var node = document.createElement("p");
                    node.appendChild(document.createTextNode("Loading... (please don't click the button again!)"));
                    document.getElementById("map-iframe").contentWindow.document.appendChild(node);
                    document.getElementById("map-iframe").contentWindow.document.close();
                });
            });
        </script>
        <style>
            html, body {
                height: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }

            #content {
                height: 100%;
                display: flex;
                flex-flow: column;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <div style="flex: 0 1 auto;">
                <h1>DART Jet Lag: The Game - Hiding Location Finder</h1>
                <form id="map-form" action="{{ url_for('jetlag_map') }}" target="map-iframe" method="post">
                    <label for="start-time-picker">Choose a start time:</label>
                    <input type="datetime-local" id="start-time-picker" name="start_time" min="{{start_date}}" max="{{end_date}}" value="{{now_time}}" required />
                    <br />
                    <label for="hide-duration">Hide duration (minutes):</label>
                    <input type="number" id="hide-duration" name="hide_duration_minutes" min="0" max="100" value="30" required />
                    <br />
                    <label for="start-stop-id">Starting stop:</label>
                    <select id="start-stop-id" name="start_stop_id">
                        {% for stop_id, stop_name in starting_stop_list %}<option value="{{stop_id}}">{{stop_name}}</option>{% endfor %}
                    </select>
                    <br />
                    <label for="walking-speed">Walking speed:</label>
                    <input type="number" id="walking-speed" name="walking_speed" value="1.06" min="0.01" step="0.01" required />
                    <br />
                    <button>Route me!</button>
                </form>
            </div>
            <br />
            <iframe name="map-iframe" id="map-iframe" style="flex: 1 1 auto; width: 100%; border: none;"></iframe>
        </div>
    </body>
</html>
